body{
    background-color: brown;
    color: white;
    font-family: "Noto Sans";
    font-weight: bold;
}

.center{
    text-align: center;
}

.margAuto{
    margin-left: auto;
    margin-right: auto;
}

.naglowek{
    font-size: 2em;
    padding-left: 50px;
}

.text{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.sekcjaFlex{
    display: flex;
}

.sekcjaBox{
    width: 45vw;
}

.margTopLeft{
    margin-top: 100px;
    margin-left: 50px;
}

.zdj{
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

#title{
    font-size: 4em;
    animation: rainbow 3s infinite;
    text-shadow: 5px 5px 5px black;
    background-color: rgb(224, 40, 40);
    border: 3px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}

#obrot{
    animation: rotation 2s infinite;
}

#gornaSekcja{
    margin-bottom: 100px;
    width: 60vw;
    padding: 5px;
}

#srodkowaSekcja{
    width: 90vw;
    background-color: rgb(95, 95, 95);
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

@keyframes rainbow{
    0%{
        color: rgb(255, 0, 0);
    }
    16%{
        color: rgb(255, 255, 0);
    }
    32%{
        color: rgb(0, 255, 0);
    }
    48%{
        color: rgb(0, 255, 255);
    }
    64%{
        color: rgb(0, 0, 255);
    }
    80%{
        color: rgb(255, 0, 255);
    }
    100%{
        color: rgb(255, 0, 0);
    }
    
    
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}